.btn, button, input[type='submit'] {
  background: var(--primary-color);
  border-radius: 5px;
  border: none;
  color: hsl(207, 70%, 97%);
  cursor: pointer;
  font-size: 85%;
  font-weight: 400;
  height: var(--btn-height);
  padding: 1.25rem 1.7rem;
  text-transform: uppercase;
  transition: opacity 0.4s ease-out;
}

.btn:hover, button:hover, input[type='submit']:hover {
  opacity: .8;
}

a.btn {
  text-decoration: none;
}
